examples_results/dispersion_test.csv filter=lfs diff=lfs merge=lfs -text
examples_results/DISSONANCE_matrix.csv filter=lfs diff=lfs merge=lfs -text
examples_results/distfunc_multiples_testing.csv filter=lfs diff=lfs merge=lfs -text
examples_results/ideology.csv filter=lfs diff=lfs merge=lfs -text
examples_results/polarDistance_multiple_test.csv filter=lfs diff=lfs merge=lfs -text
examples_results/randomMaskRecon_test.csv filter=lfs diff=lfs merge=lfs -text
examples_results/tmp_dot_modelclass.dot filter=lfs diff=lfs merge=lfs -text
examples_results/tmp_nodelclass.joblib filter=lfs diff=lfs merge=lfs -text
examples_results/distfunc_forloop_compute_node.csv filter=lfs diff=lfs merge=lfs -text
examples_results/distfunc_forloop.csv filter=lfs diff=lfs merge=lfs -text
examples_results/bin filter=lfs diff=lfs merge=lfs -text
examples_results/data_2018 filter=lfs diff=lfs merge=lfs -text
examples_results/embed_D_2018 filter=lfs diff=lfs merge=lfs -text
examples_results/embed_E_2018 filter=lfs diff=lfs merge=lfs -text
examples_results/ACRDALL_2016E.err filter=lfs diff=lfs merge=lfs -text
examples_results/ACRDALL_2016O.out filter=lfs diff=lfs merge=lfs -text
examples_results/ACRDALL_2016_.sbc filter=lfs diff=lfs merge=lfs -text
examples_results/ACRDALL_2018E.err filter=lfs diff=lfs merge=lfs -text
examples_results/ACRDALL_2018O.out filter=lfs diff=lfs merge=lfs -text
examples_results/ACRDALL_2018_.sbc filter=lfs diff=lfs merge=lfs -text
examples_results/cgmod2016.mod filter=lfs diff=lfs merge=lfs -text
examples_results/distfunc_mpitest_allpreloadedclass_computenode.csv filter=lfs diff=lfs merge=lfs -text
examples_results/distfunc_mpitest_preloadedclass_computenode_2016.csv filter=lfs diff=lfs merge=lfs -text
examples_results/embed_E_2018_PCA filter=lfs diff=lfs merge=lfs -text
examples_data/2018_features.csv filter=lfs diff=lfs merge=lfs -text
examples_data/codebook_vars.txt filter=lfs diff=lfs merge=lfs -text
examples_data/DMAT_2018.csv filter=lfs diff=lfs merge=lfs -text
examples_data/features_by_year_GSS.csv filter=lfs diff=lfs merge=lfs -text
examples_data/GSS_descripvars_2018.csv filter=lfs diff=lfs merge=lfs -text
examples_data/processed_data filter=lfs diff=lfs merge=lfs -text
examples_results/PTSD_cognet_test.joblib filter=lfs diff=lfs merge=lfs -text
examples_data/PTSD_cognet_test_processed.csv filter=lfs diff=lfs merge=lfs -text
